<div class="container">

  <p>user-register works!</p>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" name="username">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" formControlName="email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password">
    </div>

    <div class="mb-3">
      <label for="file-upload">Choose files</label>
      <input type="file" id="file-upload" (change)="onFileSelect($event)" required/>
    </div>

    <div class="mb-3">
      <button class="btn btn-primary">Register</button>
    </div>
  </form>

</div>
